<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="booked" method="post">
		ShowName : <input type="text" name="showName" /> <br>
		<br>HallName(70MM or 35MM):<input type="text" name="hallName" /><br>
		<br> MovieName :<input type="text" name="movieName" /><br>
		<br>SeatType:<input type="text" name="seatType"/></br>
         
		<br> NumberOfSeats(max 10) : <input type="text" name="numberOfSeats" /> <br>
		<br>Please Enter UserName(case sensitive):<input type="text" name="userName"/><br>
		
		<br> <input type="submit" name="submit">
	</form>

</body>
</html>