<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
h1 {text-align: center;}
</style>
</head>
<body >
    <h1>Booking Successfull!</h1>
    <h1>Booking Id:<td th:text="${bookingid}" /></h1>
    <p  style="color:red;">IMPORTANT: </p>
    <p> Please Note the booking Id for further reference</p>
    
    <a href="http://localhost:8087/AMB">homepage</a></br>
    
    <p> Click below for Booking Details:</p>
    <a href="http://localhost:8087/AMB/bookingdetails">bookingdetails</a>
</body>
</html>